body{                                           /* Classe css per la colorazione della pagina. */     
    background-color: black;
}
* {                                             /* Classe css per l'adattamento della pagina. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customContainer{
    border-radius:6%;
    background-color: rgb(44, 32, 32);
}
.mainTitle{
    font-family: 'Fira Sans', sans-serif;
}
.versionTitle{
    font-family: 'Permanent Marker', cursive;
}
.normalFont{
    font-family: 'Source Sans 3', sans-serif;
}
.logFont{
    font-family: 'Dosis', sans-serif;
}
#buttons{
    box-shadow: 5px 5px black;
}
.allMessages{
    overflow-y:scroll;
    display: flex;
    flex-direction: column-reverse;
    border-top: solid 3px rgb(148, 109, 109);
    border-right: solid 2px rgb(148, 109, 109);
}





@media screen and (min-width:280px){
    #buttons{
        width:80px;
        height:80px;
        font-size:2rem;
    }
    .buttonsMediaQuery{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:576px){
    .buttonsMediaQuery{
        font-size: 1rem;
    }
}
@media screen and (min-width:768px){
    #buttons{
        width:100px;
        height:100px;
        font-size:3rem;
    }
}